

/*
Image upload classes
*/
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
    display:block;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top:-5px;
}
.imgUp
{
    margin-bottom:15px;
}
.del
{
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
.imgAdd
{
    padding: 1px;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#4bd7ef;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}

.article-card {
    display: flex;
    margin: 2rem auto;
}

.card, .card-header {
    width: 100%;
    border: none;
    background-color: inherit;
}
.card-footer {
    border: none;
    background-color: inherit;
}
.card-header {
    text-decoration: none;
    font-family: inherit;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
}
.card-footer {
    /*box-shadow: 0px -4px 7px 3px rgba(0,0,0,0.2)*/
}
.card-header .article-title {
    text-decoration: #6c757d;
}
.article-text{
    cursor: pointer;
    font-size: 16px;
}
.article-text .text-truncate{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.article-img {
    margin: 2rem auto;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2)
}
.article-img img{
    max-width: 100%;
    margin: auto;
    width: 100%;
    height: 300px;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.carousel{
    margin: 2rem auto;
}

.tags-card {
    margin: auto;
}

.tags-ul {
    margin: 1rem auto;
    padding: unset;
    width: fit-content;
}

.tag-item {
    margin: 2px 1px;
    border: none;
    box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.2)
}

.images-collection {
    margin: 1rem 0rem;
    padding: 10px 10px 10px 0px;
}

.img-wrap {
    position: relative;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2)
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #ae1c17;
    border-style: groove;
}

.select2-results__option--selected {
    display: none;
}
